<SCRIPT LANGUAGE="JavaScript">
    function toggleVis(value, id) {
        var elem = document.getElementById(id);
        if (value) {
            elem.style.display = 'none';
        } else {
            elem.style.display = '';
        }
    }
</SCRIPT>
<% if assignment.has_topics? %>
    <%= form_tag :controller => 'review_mapping',
                 :action => 'assign_reviewer_dynamically',
                 :assignment_id => assignment.id,
                 :reviewer_id => session[:user].id do %>


        <p><b>Select a topic below to begin a new review:</b></p>
        <input id="i_dont_care" name="i_dont_care" type="checkbox" onchange="toggleVis(this.checked, 'topic_list');"/>
        I don't care which topic I review.

        <%= render :partial => 'candidate_topics', :locals => {:assignment => assignment, :participant => participant} %>
        <p><input type='submit' value='Request a new submission to review'/></p>
    <% end %>
<%else%>
    <p>No topics available for review</p>
<% end %>

