<% if assignment.sign_up_topics.count > 0 %>
    <%= form_tag :controller => 'review_mapping',
                 :action => 'show_available_submissions',
                 :assignment_id => assignment.id,
                 :reviewer_id => session[:user].id do %>
        <p><b>Select a topic below to begin a new review:</b></p>
        <%= render :partial => 'candidate_topics', :locals => {:assignment => assignment, :participant => participant} %>
    <% end %>

    <input type='submit' value='Select a Topic to Review' id="submitStudentReviewButton"/>
<% else %>
    <p>No topics available for review</p>
<% end %>